{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>전체 사고 정보 확인</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/alldata.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
</head>

<body>
    <div class="navbar">
        <a href="{%url 'mainpage' %}"><button class="title"><h1>DOLPHIN</h1></button></a>
    </div>

    <div class="container">

        <form method="get" action="{%url 'alldata'%}" class="search">
            <label class=search-label>차대번호 17자리로 검색하기 (사고 피해 차량을 입력하세요) </label>
            <div class="search-container">
                <input type="text" class="search-input" placeholder="00000000000000000_0000년00월00일_00시00분00초" aria-label="Search"
                    name="search" value="{{search}}">
                <button type="submit" class="search-button"><img id="search-icon" src="\static\img\search.png"
                        alt="검색"></button>
            </div>
        </form>

        <div class="info-container">
            {% for info in infos %}
            <a href="{% url 'searchdata' info.id %}"><button class="info-item">차대번호 {{info.mycar}} | {{info.date}} | 주변
                    차량
                    {{info.carcount}}대</button></a>
            {% endfor %}
        </div>
    </div>
</body>

</html>