{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>all data</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/forpoli.css' %}">
</head>

<body>
    <h1>all data</h1>
    <form method="get" action="{%url 'alldata'%}">
        <input type="text" class="searchTerm" placeholder="차대번호를 입력해주세요" aria-label="Search" name = "search" value="{{search}}">
        <button type="submit" class="searchButton">
            <!-- <img id="search-icon" src="\static\img\searchimg.png" alt="search"> -->
        </button>
    </form>

    {% for info in infos %}
        <a href="{% url 'searchdata' info.id %}">
            {{info.mycar_date}}
        </a>
    {% endfor %}
</body>

</html>