{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>파일 업로드</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/fileupload.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
</head>

<body>
    <div class="navbar">
        <a href="{%url 'mainpage' %}"><button class="title"><h1>TITLE</h1></button></a>
    </div>

    <div class="howto">
        sd 카드 연결 후 ~~ data.txt를 가져와야합니다 블라블라 사용설명 추후에 포토샵 작업하는걸루
    </div>

    <form enctype="multipart/form-data" action="" method="post" class="container">
        {% csrf_token %}
        {{fileform.myfile}}
        <input type="submit" value="파일 업로드" id="upload_btn">
    </form>
</body>

</html>