{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>파일 업로드</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/fileupload.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
</head>

<body>
    <div class="navbar">
        <a href="{%url 'mainpage' %}"><button class="title"><h1>DOLPHIN</h1></button></a>
    </div>
    
    <div class="howto">
        <img class='howto-img' width=90% src="../static/img/howto.png" alt="SD카드를 PC에 연결하세요.">
        <p class='howto-p'>1. SD카드를 PC와 연결하세요.</p>
        <p class='howto-p'>2. SD카드에서 data.txt를 찾아 업로드하세요.</p>
    </div>

    <form enctype="multipart/form-data" action="" method="post" class="container">
        {% csrf_token %}
        {{fileform.myfile}}
        <input type="submit" value="파일 업로드" id="upload_btn">
    </form>
</body>

</html>