{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>for user</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/forpoli.css' %}">
</head>

<body>
    <h1>for poli</h1>

    <p>내 차량 정보 : {{mycar.VIN}}, {{mycar.name}}, {{mycar.tel}}</p>

    {% for acci in accidents %}
        <p>시간 : {{acci.0}}</p>
        {% for carinfo in acci.1 %}
            <p> 차량 정보 : {{carinfo.0}} {{carinfo.1}} {{carinfo.2}}</p>
        {% endfor %}
    {% endfor %}
</body>

</html>