{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>for user</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/foruser.css' %}">
</head>

<body>
    <h1>for user</h1>
    <!-- {% if mycar is None %}
        <p>차량 정보를 먼저 등록해주세요.</p>
    {% else %}
        <p>내 차량 : {{mycar.name}}</p>
        {% if datas is None %}
            <p>저장된 사고 정보가 없습니다.</p>
        {% else %}
            {% for data in datas %}
                <p>{{data}}</p>
            {% endfor %}
        {% endif %}
    {% endif %} -->

    <p>내 차량 정보 : {{mycar.VIN}}, {{mycar.name}}, {{mycar.tel}}</p>

    {% for acci in accidents %}
        <p>시간 : {{acci.0}}</p>
        <p> 차량 수 : {{acci.1}} </p>
    {% endfor %}

</body>

</html>