{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인페이지</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/mainpage.css' %}">
</head>

<body>
    <h1 class="nanum">❣제에에모오옥❣</h1>
    <div class='container'>
        <a href="{%url 'register' %}"><button id="urlbtn">기기 등록하기</button></a>
        <a href="{%url 'userfile' %}"><button id="urlbtn">for사용자<br>주변 차량 확인하기</button></a>
        <a href="{%url 'polifile' %}"><button id="urlbtn">ONLY 수사기관</button></a>
    </div>
</body>

</html>