{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>for user 파일업로드</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/polifile.css' %}">
</head>

<body>
    <h1>파일 업로드</h1>
    <form enctype="multipart/form-data" action="" method="post">
        {% csrf_token %}
        {{fileform}}
        <input type="submit" value="등록" id="rg_btn">
    </form>
</body>

</html>