{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>기기 등록하기</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
</head>

<body>
    <div class="navbar">
        <a href="{%url 'mainpage' %}"><button class="title"><h1>DOLPHIN</h1></button></a>
    </div>
        
    <form method="POST" class="container">
        {% csrf_token %}
        {% for i in regiform %}
        <div class="label">{{i.label}}</div>
        {{i}}
        {% endfor %}

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li class="{{ message.tags }}">{{message}}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <input type="submit" value="등록" id="rg_btn">
    </form>
</body>

</html>