{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>수사기관 로그인</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/signin.css' %}">
</head>

<body>
    <h1 class="nanum">로그인</h1>
    <form method="POST">
        {% csrf_token %}
        {{loginform}}

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li class="{{ message.tags }}">{{message}}</li>
            {% endfor %}
        </ul>
        {% endif %}
        
        <input type="submit" value="login" id="login_btn">
        <div class="urlmoum">
            <a href="{% url 'signup' %}">회원가입</a> /  아이디 찾기  /  비밀번호 찾기
        </div>
    </form>
</body>

</html>