{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
</head>

<body>
    <div class="navbar">
        <a href="{%url 'mainpage' %}"><button class="title"><h1>DOLPHIN</h1></button></a>
    </div>
    <form method="POST" class="container">
        {% csrf_token %}
        {% for i in signup_form %}
        <div class="label">{{i.label}}</div>
        {{i}}
        {% endfor %}

        <div class="messages">
            {{error}}
        </div>

        <input type="submit" value="회원가입" id="signup_btn">
    </form>
</body>

</html>