.error_message {
    /* border: 2px solid slateblue; */
    display: flex;
    justify-content: center;
    margin: 150px auto;
    color: slateblue;
    font-size: 20px;
    font-weight: bold;
}

.url {
    color: slateblue;
}