
#urlbtn {
    border-top: 0px;
    border-left: 0px;
    border-right: 4px solid #7aaad8;
    border-bottom: 4px solid #7aaad8;
    width: 250px;
    height: 350px;
    margin: 0 40px;
    border-radius: 5%;
    background-color: whitesmoke;
    font-size: 25px;
    font-weight: bold;
    color: #345d83;
}

#modebtn {
    display: float;
    margin-left: 1000px;
    color: #345d83;
}