.label {
    display: flex;
    margin-left: 30%;
    color: slateblue;
    font-weight: bold;
}

.rg_item {
    width: 40%;
    height: 35px;
    margin: 10px auto;
    border: 1px solid slateblue;
    display: flex;
    justify-content: center;
    background-color: snow;
}

#rg_btn {
    width: 40%;
    height: 50px;
    margin: 30px auto;
    border: 0;
    display: flex;
    justify-content: center;
    background-color: slateblue;
    color: snow;
    /* outline: 0; */
}

.messages {
    display: flex;
    margin-left: 30%;
    color: slateblue;
    font-weight: bold;
}