
.signup_item {
    width: 40%;
    height: 35px;
    margin: 10px auto;
    border: 1px solid slateblue;
    display: flex;
    justify-content: center;
    background-color: snow;
}

.label {
    display: flex;
    margin-left: 30%;
    color: slateblue;
    font-weight: bold;
}

#signup_btn {
    width: 40%;
    height: 50px;
    margin: 30px auto;
    border: 0;
    display: flex;
    justify-content: center;
    background-color: slateblue;
    color: snow;
}

.messages {
    /* border: 1px solid red; */
    display: flex;
    margin-left: 30%;
    color: slateblue;
    font-weight: bold;
}

.message {
    /* border: 1px solid green; */
    display: inline-block;
}