body {
    background-color: white;
}

.navbar {
    display: flex;
    justify-content: center;
}

.title {
    font-size: 30px;
    color: slateblue;
    background-color: white;
    border: 0;
    outline: 0;
}

.container {
    margin-top: 20px;
}
