
#id_username, #id_password {
    width: 40%;
    height: 35px;
    margin: 10px auto;
    border: 1px solid slateblue;
    display: flex;
    justify-content: center;
    background-color: white;
}

.label {
    display: flex;
    margin-left: 30%;
    color: slateblue;
    font-weight: bold;
}

#login_btn {
    width: 40%;
    height: 50px;
    margin: 30px auto;
    border: 0;
    display: flex;
    justify-content: center;
    background-color: slateblue;
    color: white;
}

.messages {
    display: flex;
    margin-left: 30%;
    color: slateblue;
    font-weight: bold;
}

.regi {
    margin-left: 30%;
}