.container {
    display: flex;
    justify-content: center;
}

.item {
    margin: 0 50px;
}

#urlbtn {
    border: 2px solid slateblue;
    width: 300px;
    height: 300px;
    /* margin: 0 50px; */
    border-radius: 2%;
    background-color: slateblue;
    font-size: 25px;
    font-weight: bold;
    color: snow;
    outline: 0;
}

.mode {
    /* border: 1px solid red; */
    display: float;
    /* width: 250px;
    height: 50px; */
    margin-left: 70%;
    color: slateblue;
}