body {
    background-color: #cfddeb;
}

h1 {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    font-size: 70px;
    color: #fff8e3;
    /* text-shadow: 0 0 10px #7aaad8; */
    text-shadow: -3px 0 #7aaad8, 0 3px #7aaad8, 3px 0 #7aaad8, 0 -3px #7aaad8;
    margin: 0 0;
}

.container {
    /* border: 1px solid red; */
    width: 500px;
    height: 300px;
    margin: 60px auto;
}

.rg_item {
    width: 99%;
    height: 35px;
    margin: 10px auto;
    border: 1px solid #999;
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
    color: #345d83;
}

#rg_btn {
    width: 100%;
    height: 50px;
    margin: 50px auto;
    border: 1px solid #999;
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
    color: #345d83;
}